# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
ionicApp/node_modules/codelyzer/node_modules/@angular/compiler/bundles/.compiler.umd.min.js.map.icloud
ionicApp/node_modules/codelyzer/node_modules/@angular/compiler/bundles/.compiler.umd.js.map.icloud
ionicApp/node_modules/@angular/compiler/bundles/.compiler.umd.js.map.icloud
ionicApp/node_modules/@angular/compiler/bundles/.compiler.umd.min.js.map.icloud
ionicApp/node_modules/@angular/compiler/bundles/compiler.umd.js.map
ionicApp/node_modules/@angular/compiler/bundles/compiler.umd.js.map
ionicApp/node_modules/@angular/compiler/fesm2015/.compiler.js.map.icloud
ionicApp/node_modules/@angular/core/__ivy_ngcc__/fesm2015/.core.js.map.icloud
ionicApp/node_modules/@angular/core/bundles/.core.umd.js.map.icloud
ionicApp/node_modules/@angular/core/fesm2015/.core.js.map.icloud
ionicApp/node_modules/@capacitor/core/cordova.js
ionicApp/node_modules/@capacitor/core/native-bridge.js
ionicApp/node_modules/@capacitor/core/LICENSE
ionicApp/src/assets/fonts/PermanentMarker-Regular 2.ttf
ionicApp/src/assets/fonts/Quicksand-SemiBold 2.ttf
ionicApp/node_modules/@capacitor/core/README.md
ionicApp/node_modules/@capacitor/core/package.json
ionicApp/node_modules/@capacitor/core/dist/capacitor.js
ionicApp/node_modules/@capacitor/core/dist/capacitor.js.map
ionicApp/node_modules/@capacitor/core/dist/index.js
ionicApp/node_modules/@capacitor/core/dist/index.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/core-plugin-definitions.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/core-plugin-definitions.js
ionicApp/node_modules/@capacitor/core/dist/esm/core-plugin-definitions.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/definitions.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/definitions.js
ionicApp/node_modules/@capacitor/core/dist/esm/definitions.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/global.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/global.js
ionicApp/node_modules/@capacitor/core/dist/esm/global.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/index.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/index.js
ionicApp/node_modules/@capacitor/core/dist/esm/index.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/util.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/util.js
ionicApp/node_modules/@capacitor/core/dist/esm/util.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web-plugins.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web-plugins.js
ionicApp/node_modules/@capacitor/core/dist/esm/web-plugins.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web-runtime.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web-runtime.js
ionicApp/node_modules/@capacitor/core/dist/esm/web-runtime.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web/accessibility.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web/accessibility.js
ionicApp/node_modules/@capacitor/core/dist/esm/web/accessibility.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web/app.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web/app.js
ionicApp/node_modules/@capacitor/core/dist/esm/web/app.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web/browser.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web/browser.js
ionicApp/node_modules/@capacitor/core/dist/esm/web/browser.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web/camera.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web/camera.js
ionicApp/node_modules/@capacitor/core/dist/esm/web/camera.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web/clipboard.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web/clipboard.js
ionicApp/node_modules/@capacitor/core/dist/esm/web/clipboard.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web/device.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web/device.js
ionicApp/node_modules/@capacitor/core/dist/esm/web/device.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web/filesystem.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web/filesystem.js
ionicApp/node_modules/@capacitor/core/dist/esm/web/filesystem.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web/geolocation.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web/geolocation.js
ionicApp/node_modules/@capacitor/core/dist/esm/web/geolocation.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web/index.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web/index.js
ionicApp/node_modules/@capacitor/core/dist/esm/web/index.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web/local-notifications.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web/local-notifications.js
ionicApp/node_modules/@capacitor/core/dist/esm/web/local-notifications.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web/modals.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web/modals.js
ionicApp/node_modules/@capacitor/core/dist/esm/web/modals.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web/motion.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web/motion.js
ionicApp/node_modules/@capacitor/core/dist/esm/web/motion.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web/network.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web/network.js
ionicApp/node_modules/@capacitor/core/dist/esm/web/network.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web/permissions.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web/permissions.js
ionicApp/node_modules/@capacitor/core/dist/esm/web/permissions.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web/share.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web/share.js
ionicApp/node_modules/@capacitor/core/dist/esm/web/share.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web/splash-screen.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web/splash-screen.js
ionicApp/node_modules/@capacitor/core/dist/esm/web/splash-screen.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web/storage.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web/storage.js
ionicApp/node_modules/@capacitor/core/dist/esm/web/storage.js.map
ionicApp/node_modules/@capacitor/core/dist/esm/web/toast.d.ts
ionicApp/node_modules/@capacitor/core/dist/esm/web/toast.js
ionicApp/node_modules/@capacitor/core/dist/esm/web/toast.js.map
ionicApp/node_modules/@capacitor/core/node_modules/tslib/CopyrightNotice.txt
ionicApp/node_modules/@capacitor/core/node_modules/tslib/LICENSE.txt
.gitignore
ionicApp/node_modules/@angular/compiler/bundles/compiler.umd.js.map
ionicApp/node_modules/@angular/compiler/bundles/compiler.umd.min.js.map
ionicApp/node_modules/@angular/compiler/fesm2015/compiler.js.map
ionicApp/node_modules/@angular/core/__ivy_ngcc__/fesm2015/core.js.map
ionicApp/node_modules/@angular/core/bundles/core.umd.js.map
ionicApp/node_modules/@angular/core/fesm2015/core.js.map
